<div id="content">
<div  style="padding: 10px;">sdfsdfsdfsd</div>

<script type="text/javascript">
var groups = null;
function initGroup(dept) {
    $.get("/getgroups", {dept: dept}, function (data) {
        groups = data.groups;
        var li = $("#" + dept);
        if ($("#" + dept + "groups").length > 0) {

        }
        else {
            li.append('<ul id="' + dept + 'groups' + '" class="nav"></ul>');
            var ul = $("#" + dept + "groups");
            for (var i = 0; i < groups.length; i++) {
                ul.append('<li id=' + groups[i].group + '><a onclick =initKey(' + JSON.stringify(groups[i].group) + ') href="javascript:void(0)">' + groups[i].group + '</a></li>');
            }
        }
    });
}

var urls = null;
function initKey(group) {
    //alert(group);
    $.get("/geturls", {group: group}, function (data) {
        urls = data.urls
        var li = $("#" + group);
        if ($("#" + group + "_urls").length > 0) {
        }
        else {
            li.append('<ul id="' + group + '_urls' + '" class="nav"></ul>');
            var ul = $("#" + group + "_urls");
            for (var i = 0; i < urls.length; i++) {
                ul.append('<li id=' + urls[i].key + '><a onclick=initData(' + JSON.stringify(urls[i].key) + ') href="javascript:void(0)">' + urls[i].key + '</a></li>');
            }
        }
    });
}

var chart = null, callChart = null, gdata = null;
function initData(url) {
    $.get("/chart", {key: url}, function (data) {
        gdata = data;
        insertData();
    });
}

function insertData() {
    var data = gdata;
    var chartData = generateChartData(data);
    var callChartData = generateCallChartData(data);
    $("#c").append('<div id="chartdiv" style="width: 800px; height: 400px;"></div>');
    $("#c").append('<div id="chartdiv1" style="width: 800px; height: 400px;"></div>');

    chart = AmCharts.makeChart("chartdiv", {
        "type": "serial",
        "theme": "none",
        "pathToImages": "http://www.amcharts.com/lib/3/images/",
        "legend": {
            "equalWidths": false,
            "useGraphSettings": true,
            "valueAlign": "left",
            "valueWidth": 50
        },
        "dataProvider": chartData,
        "valueAxes": [
            {
                "id": "tp99Axis",
                "axisColor": "#B0DE09",
                "axisThickness": 2,
                "axisAlpha": 1,
                "gridAlpha": 0,
                "offset": 0,
                "position": "left",
                "title": "time"
            }
        ],
        "graphs": [
            {
                "valueAxis": "tp90Axis",
                "lineColor": "#FF6600",
                "bullet": "round",
                "bulletBorderThickness": 1,
                "hideBulletsCount": 10,
                "title": "tp90",
                "valueField": "tp90",
                "showBalloon": false,
                "legendValueText": "[[value]] s"
            },
            {
                "valueAxis": "tp999Axis",
                "lineColor": "#FF6600",
                "bullet": "triangleDown",
                "bulletBorderThickness": 1,
                "hideBulletsCount": 10,
                "title": "tp999",
                "valueField": "tp999",
                "showBalloon": false,
                "legendValueText": "[[value]] s"
            },
            {
                "valueAxis": "tp50Axis",
                "lineColor": "#FCD202",
                "bullet": "square",
                "bulletBorderThickness": 1,
                "hideBulletsCount": 10,
                "title": "tp50",
                "valueField": "tp50",
                "balloonText": "tp50:<b>[[value]]</b><br>tp90:<b>[[tp90]]</b><br>tp99:<b>[[tp99]]</b><br>tp999:<b>[[tp999]]</b>",
                "tp90Field": "tp90",
                "tp99Field": "tp99",
                "tp999Field": "tp999",
                "urlField": "url",
                "legendValueText": "[[value]] s",
                "labelPosition": "bottom"
            },
            {
                "valueAxis": "tp99Axis",
                "lineColor": "#B0DE09",
                "bullet": "triangleUp",
                "bulletBorderThickness": 1,
                "hideBulletsCount": 10,
                "title": "tp99",
                "valueField": "tp99",
                "showBalloon": false,
                "legendValueText": "[[value]] s"
            }
        ],
        "chartScrollbar": {},
        "chartCursor": {
            "cursorPosition": "mouse"
        },
        "categoryField": "date",
        "categoryAxis": {
            "dateFormats": [
                {period: 'hh', format: 'YYYY-MM-DD JJ:NN:SS'}
            ],
            "axisColor": "#555555",
            "minorGridEnabled": true,
            "labelRotation": 30
        }
    });
    callChart = AmCharts.makeChart("chartdiv1", {
        "type": "serial",
        "theme": "none",
        "pathToImages": "http://www.amcharts.com/lib/3/images/",
        "legend": {
            "equalWidths": false,
            "useGraphSettings": true,
            "valueAlign": "left",
            "valueWidth": 50
        },
        "dataProvider": callChartData,
        "valueAxes": [
            {
                "id": "callAxis",
                "axisColor": "#B0DE09",
                "axisThickness": 2,
                "axisAlpha": 1,
                "gridAlpha": 0,
                "offset": 0,
                "position": "left",
                "title": "call"
            }
        ],
        "graphs": [
            {
                "valueAxis": "callAxis",
                "lineColor": "#B0DE09",
                "bullet": "square",
                "bulletBorderThickness": 1,
                "hideBulletsCount": 10,
                "title": "call",
                "valueField": "call",
                "balloonText": "call:<b>[[value]]</b>",
                "legendValueText": "[[value]]",
                "labelPosition": "bottom"
            }
        ],
        "chartScrollbar": {},
        "chartCursor": {
            "cursorPosition": "mouse"
        },
        "categoryField": "date",
        "categoryAxis": {
            "dateFormats": [
                {period: 'hh', format: 'YYYY-MM-DD JJ:NN:SS'}
            ],
            "axisColor": "#555555",
            "minorGridEnabled": true,
            "labelRotation": 30
        }
    });
}

function generateChartData(data) {
    var h = data.h;
    var d = data.d;
    var chartData = [];

    for (var i = 0; i < d["date"].length; i++) {
        var tp50 = h["tp50"][i];
        var tp90 = h["tp90"][i];
        var tp99 = h["tp99"][i];
        var tp999 = h["tp999"][i];
        var date = d["date"][i];
        //var newDate=AmCharts.stringToDate(date, "YYYY-MM-DD JJ:NN:SS")

        chartData.push({
            date: date,
            tp50: tp50,
            tp90: tp90,
            tp99: tp99,
            tp999: tp999
        });
    }
    return chartData;
}

function generateCallChartData(data) {
    var h = data.h;
    var d = data.d;
    var chartData = [];

    for (var i = 0; i < d["date"].length; i++) {
        var call = h["call"][i];
        var date = d["date"][i];
        //var newDate=AmCharts.stringToDate(date, "YYYY-MM-DD JJ:NN:SS")
        chartData.push({
            date: date,
            call: call
        });
    }
    return chartData;
}

left_height = document.getElementById("u").scrollHeight;
right_height = document.getElementById("c").scrollHeight;
right_height > left_height ? document.getElementById("c").style.height = right_height + "px" : document.getElementById("u").style.height = left_height + "px";

</script>
</div>